@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
}

#navi{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 17px;
}

div#logo{
    justify-content: center;
    background-color: black;
    align-items: center;
}